[submodule "acadmasterui"]
	path = acadmasterui
	url = git@github.com:cowanweks/acadmasterui.git
[submodule "acadmasterserver"]
	path = acadmasterserver
	url = git@github.com:cowanweks/acadmasterserver.git
